{% extends 'master.html' %}

{% block body %}

<main>
  {% load static %}
  {% load cart_tag %}
  <!-- page-banner-area-start -->
  {% comment %} <div
    class="page-banner-area page-banner-height-2"
    data-background="{% static "assets/img/banner/page-banner-4.jpg" %}"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="text-center page-banner-content">
            <h4 class="breadcrumb-title">Your Cart</h4>
            <div class="breadcrumb-two">
              <nav>
                <nav class="breadcrumb-trail breadcrumbs">
                  <ul class="breadcrumb-menu">
                    <li class="breadcrumb-trail">
                      <a href="index.html"><span>Home</span></a>
                    </li>
                    <li class="trail-item">
                      <span>Cart</span>
                    </li>
                  </ul>
                </nav>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
  <!-- page-banner-area-end -->

  <!-- cart-area-start -->
  <section class="cart-area pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form method="Post">
            {% csrf_token %}
            <div class="table-content table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Images</th>
                    <th class="cart-product-name">Produit</th>
                    <th class="product-price">Prix Unitaire</th>
                    <th class="product-quantity">Quantité</th>
                    <th class="product-subtotal">Total</th>
                    <th class="product-remove">Supprimer</th>
                  </tr>
                </thead>
                <tbody>
                  {% for key,value in request.session.cart.items %}
                  <tr>
                    <td class="product-thumbnail">
                      <a href="shop-details.html"
                        ><img src="{{value.image}} " alt=""
                      /></a>
                    </td>
                    <td class="product-name">
                      <a href="shop-details.html">{{value.name}}</a>
                    </td>
                    <td class="product-price">
                      <span class="amount">{{value.price}} Fcfa</span>
                    </td>
                    <td class="product-quantity">
                      {% comment %} <div class="cart-plus-minus"> {% endcomment %}
                        <a class=" inc qtybutton" href="{% url 'item_increment' value.product_id %}">+</a>
                        <input type="text" value="{{value.quantity}}" />
                        {% if value.quantity < 2  %}
                        <a  class="dec qtybutton"></a>
                        {% else %}
                        
                        <a  class="dec qtybutton" href="{% url 'item_decrement' value.product_id %}">-</a>

                        {% endif %}  
                      {% comment %} </div> {% endcomment %}
                    </td>
                    <td class="product-subtotal">
                      <span class="amount">{{ value.price|multiply:value.quantity }} Fcfa</span>
                    </td>
                    <td class="product-remove">
                      <a href="{% url 'item_clear' key %}"><i class="fa fa-times"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                  {% comment %} <tr>
                    <td class="product-thumbnail">
                      <a href="shop-details.html"
                        ><img src="assets/img/cart/shop-p-11.jpg" alt=""
                      /></a>
                    </td>
                    <td class="product-name">
                      <a href="shop-details.html">Jacket Pink</a>
                    </td>
                    <td class="product-price">
                      <span class="amount">$120.50</span>
                    </td>
                    <td class="product-quantity">
                      <div class="cart-plus-minus">
                        <input type="text" value="1" />
                        <div class="dec qtybutton">-</div>
                        <div class="inc qtybutton">+</div>
                      </div>
                    </td>
                    <td class="product-subtotal">
                      <span class="amount">$120.50</span>
                    </td>
                    <td class="product-remove">
                      <a href="#"><i class="fa fa-times"></i></a>
                    </td>
                  </tr>  {% endcomment %}
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="coupon-all">
                 <div class="coupon">

                    <a class="tp-btn-h1" name="apply_coupon" href="{% url 'cart_clear' %}" >
                      Vider votre panier
                    </a>
                  </div> 
                  <div class="coupon2">
                    <button class="tp-btn-h1" name="update_cart" type="submit">
                      Mettre a jour votre panier
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-md-5">
                <div class="cart-page-total">
                  <h2>Cart totals</h2>
                  <ul class="mb-20">
                    <li>Sous total <span>{{ cart_total_amount }} Fcfa</span></li>
                    <li>Total <span>$250.00</span></li>
                  </ul>
                  <a class="tp-btn-h1" href="{% url 'checkout' %}"
                    >Proceder au paiement</a
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- cart-area-end -->

  <!-- cta-area-start -->
  <!-- cta-area-end -->
</main>

{% endblock %}

