{% extends 'master.html' %} {% block body %}
<main style="margin-left: 30%">
  {% load static %}
  <div class="account-area mt-70 mb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="basic-login mb-50">
            <h5 style="text-align: center">Réinitialisation Mot de Passe</h5>
            <form method="POST">
              {% csrf_token %} {% for field in form %} {{ field.errors }}
              <label>{{field.label_tag}}</label>
              <p>{{field}}</p>
              {% endfor%}
              <button type="submit" class="tp-in-btn w-100">
                Envoyez le lien de confirmation
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
