{% extends 'master.html' %} {% block body %}
<main style="margin-left: 30%">
  {% load static %}
  <div class="account-area mt-70 mb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="basic-login mb-50">
            <h5 style="text-align: center">Nouveau Mot de Passe</h5>
            {% if validlink %}
            <form method="POST">
              {% csrf_token %} {% for field in form %} {{ field.errors }}
              <label>{{field.label_tag}}</label>
              <p>{{field}}</p>
              {% endfor%}
              <button type="submit" class="tp-in-btn w-100">Sauvegarder</button>
            </form>
            <p style="color: red">Jeton Invalid</p>
            <p>
              <a href="{% url 'password_reset' %}">
                Demander un nouveau jeton de réinitialisation de Mot de passe
              </a>
            </p>

            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
