{% extends 'master.html' %} {% block body %}
<main style="margin-left: 30%">
  {% load static %}
  <div class="account-area mt-70 mb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="basic-login mb-50">
            <h5 style="text-align: center">Inscription</h5>
            <form method="POST">
              {% csrf_token %} {% for field in form %} {{ field.errors }}
              <label>{{field.label_tag}}</label>
              <p>{{field}}</p>
              {% endfor%}
              <button type="submit" class="tp-in-btn w-100">S'inscrire</button>

              <div class="mb-10 login-action fix">
                <span class="forgot-login f-right">
                  <a href="{% url 'login' %}">Se connecter?</a>
                </span>
              </div>
              <div class="mb-10 login-action fix">
                <p>
                  Vos données personnelles seront utilisées pour soutenir votre
                  expérience sur ce site Web, pour gérer l'accès à votre compte,
                  et à d'autres fins décrites dans notre
                  <a href="#">politique de confidentialité</a>.
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
